<div class="container">

<%= form_with model: @todo, local: true do |f| %>
  <%= f.label "Crear ToDo" %> <br>
  <%= f.text_field :description %> <br> <br>
  <%= f.submit "Enviar" %> <br> <br>
  <%= link_to "Volver", root_path %> <br>
<%end%>

</div>
